.data{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url(./bg.jpg);
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    h1{
        color: yellow;
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        span{
            color: blue;
        }
    }
    fieldset{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .data1{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
   min-height:70vh;
   max-height: auto;
   min-width: auto;
   max-width: auto;
    background:grey;
    border-radius: 20px;
    
    form{
        display: flex;
        flex-direction: column;
        margin: 10px;
        #agent{
            align-self: center;
            
        }
        .bu{
            z-index: 3;
            border-radius: 10px;
           // margin-left: 40px;
            width: 90px;
            margin-top: 10px;
            align-self: center;
            &.active{
                z-index:-5;
            }
            &:hover{
                background-color: black;
                color: white;
            }
        }
        input{
            height:25px;
            width:180px;
            margin:5px;
            border-radius:10px;
            align-self:center;
            margin: 10px;
        }
        textarea{
            border-radius:10px;
            width:240px;
            height:150px;
            align-self: center;
        }
      
    }
    .butt{
        z-index:-2;
        width: 90px;
        position:relative;
        border-radius:10px;
        //margin-left:70px;
        margin-top:-10px;
        align-self:center;
        &:hover{
            background-color: blue;
        }
&.active{
    z-index: 1;
}
        .lik{
            color: black;
            text-decoration: none;
            &:hover{
                color: white;
            }
        }
        
    }
}}