body{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}
.append{
    display: flex;
    flex-direction: row;
    
    p{
        margin: 10px;
        font:italic;
        color: gold;
        font-size: 20px;

    }
    button{
      margin: 7px; 
text-align: center;
align-content: center;
background-color: red;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
    }
}
.App{
    margin-top: 30%;
    min-height: 60vh;
    height: auto;
   width: 60vh;
    display: flex;
    flex-direction:column;
    border: 3px solid white;
    input{
        margin:15px;
color: blue;
align-self: center;
margin-left: 100px;
    }
    caption{
        display:flex;
        align-self: center;
        margin-left: 110px;
        color:gold;
    }
    .s1{
        margin-left: 160px;
        background-color: white;
        width: 10px;
    }
    h1{
        color:gold;
        margin-left: 40px;
    }
    .ad{
        background-color: blue;
        margin-left: 120px;
        color: white;
        border-radius: 5px;
    }
}